@use 'partials' as *;

.layout {
  background-color: $pageBackgroundColor;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include breakpoint($screenM) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
  }
}
