@use 'partials' as *;

.left-bar {
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 64px;
  background-color: burlywood;
  grid-column: 1 / span 3;
  grid-row: 3;
  overflow: hidden;

  @include breakpoint($screenM) {
    transition: width 500ms cubic-bezier(0.6, 0, 0.3, 1.2);
    display: block;
    grid-column: 1;
    grid-row: auto;
    overflow: hidden;
    width: 48px;
    height: 100%;

    &--expanded {
      width: 200px;
    }
  }
}
