@import 'partials';

.Button {
  color: #fff;
}

.Confirm {
  color: red;
}

.list-options {
  position: absolute;
  padding: 0.25rem 0.25rem 0.75rem 0.75rem;
  top: 0;
  right: 0;
  color: gainsboro;
}
