@import 'partials';

.Chart {
  position: relative;
  height: 50px;
  width: 50px;

  p {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: 500;
  }
}