@use 'partials' as *;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: $fontLight;
  font-size: $fontM;
  font-family: $fontFamily, sans-serif;
  line-height: $fontLine;
  color: $themeTextColor;
  letter-spacing: 0.005rem;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 4px;
  color: $themeColor;
}

a:hover {
  color: $themeHoverColor;
}

a:active {
  color: $themeActiveColor;
}

a:focus {
  box-shadow: 0 0 0 2px $themeColor;
}
