// colors
$dangerColor: var(--danger-color);
$dangerGradient: var(--danger-gradient);
$dangerHoverColor: var(--danger-hover-color);
$dangerActiveColor: var(--danger-active-color);
$dangerHoverGradient: var(--danger-hover-gradient);
$dangerActiveGradient: var(--danger-active-gradient);
$dangerLightHoverGradient: var(--danger-light-hover-gradient);
$dangerLightActiveGradient: var(--danger-light-active-gradient);
$dangerFocusShadowColor: var(--danger-focus-shadow-color);
$themeColor: var(--theme-color);
$themeHoverColor: var(--theme-hover-color);
$themeActiveColor: var(--theme-active-color);
$themeGradient: var(--theme-gradient);
$themeHoverGradient: var(--theme-hover-gradient);
$themeActiveGradient: var(--theme-active-gradient);
$themeLightHoverGradient: var(--theme-light-hover-gradient);
$themeLightActiveGradient: var(--theme-light-active-gradient);
$themeFocusShadowColor: var(--theme-focus-shadow-color);
$themeTextColor: var(--gray-dark);
$contrastColor: var(--contrast-color);
$backgroundColor: var(--background-color);
$pageBackgroundColor: var(--page-background);
$disabledColor: var(--gray-normal);

$fontFamily: 'Montserrat';
$fontLine: 1.45;

//font-weights
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;

// font-sizes
$fontXS: 0.875rem; // 14px
$fontS: 1rem; // 16px
$fontM: 1.125rem; // 18px
$fontL: 1.5rem; // 24px
$fontXL: 2rem; // 32px
$fontXXL: 3rem; // 48px

// distances
$distanceXXS: 0.25rem; // 4px
$distanceXS: 0.5rem; // 8px
$distanceS: 1rem; // 16px
$distanceM: 1.5rem; // 24x
$distanceL: 2rem; // 32px
$distanceXL: 3rem; // 48px
$distanceXXL: 4rem; // 64px

//  breakpoints
$screenXXS: 320px;
$screenXS: 375px;
$screenS: 576px;
$screenM: 768px;
$screenL: 992px;
$screenXL: 1440px;
$screenXXL: 1920px;
$screenXXXL: 2560px;
