@use 'reset';
@use 'global';

:root {
  --primary-color: #0043a7;
  --primary-hover: #004ec2;
  --primary-active: #00398f;
  --active-blue: #007bff;
  --contrast-color: #ffffff;
  --danger-color: #860c0c;
}
