@use 'partials' as *;

.right-bar {
  display: none;

  @include breakpoint($screenM) {
    background-color: sandybrown;
    transition: width 500ms ease-in-out;
    display: block;
    grid-column: 3;
    overflow: hidden;
    width: 48px;
    height: 100%;

    &--expanded {
      width: 200px;
    }
  }
}
